[user]
    name = Marshall Ward
    email = marshall.ward@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    editor = vim
[merge]
    tool = vimdiff
