Xft.dpi: 82
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

urxvt*font: xft:LiberationMono:size=14
urxvt*scrollttyoutput: false
urxvt*savelines: 4096
urxvt*scrollwithbuffer: true
U
#include ".Xresources.d/solarized"
